ailment==9.2.146 ; python_version >= "3.13"
angr==9.2.146 ; python_version >= "3.13"
archinfo==9.2.146 ; python_version >= "3.13"
bitarray==3.0.0 ; python_version >= "3.13"
bitstring==4.3.0 ; python_version >= "3.13"
cachetools==5.5.2 ; python_version >= "3.13"
capstone==5.0.3 ; python_version >= "3.13"
cart==1.2.3 ; python_version >= "3.13"
cffi==1.17.1 ; python_version >= "3.13"
claripy==9.2.146 ; python_version >= "3.13"
cle==9.2.146 ; python_version >= "3.13"
colorama==0.4.6 ; python_version >= "3.13" and platform_system == "Windows"
cppheaderparser==2.7.4 ; python_version >= "3.13"
future==1.0.0 ; python_version >= "3.13"
gitdb==4.0.12 ; python_version >= "3.13"
gitpython==3.1.44 ; python_version >= "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.13"
mdurl==0.1.2 ; python_version >= "3.13"
mpmath==1.3.0 ; python_version >= "3.13"
mulpyplexer==0.09 ; python_version >= "3.13"
nampa==0.1.1 ; python_version >= "3.13"
networkx==3.4.2 ; python_version >= "3.13"
numpy==2.2.3 ; python_version >= "3.13"
pefile==2024.8.26 ; python_version >= "3.13"
ply==3.11 ; python_version >= "3.13"
protobuf==6.30.1 ; python_version >= "3.13"
psutil==7.0.0 ; python_version >= "3.13"
pycparser==2.22 ; python_version >= "3.13"
pycryptodome==3.21.0 ; python_version >= "3.13"
pydemumble==0.0.1 ; python_version >= "3.13"
pydot==3.0.4 ; python_version >= "3.13"
pyelftools==0.32 ; python_version >= "3.13"
pyformlang==1.0.10 ; python_version >= "3.13"
pygments==2.19.1 ; python_version >= "3.13"
pyparsing==3.2.1 ; python_version >= "3.13"
pyvex==9.2.146 ; python_version >= "3.13"
rich==13.9.4 ; python_version >= "3.13"
smmap==5.0.2 ; python_version >= "3.13"
sortedcontainers==2.4.0 ; python_version >= "3.13"
sympy==1.13.3 ; python_version >= "3.13"
typing-extensions==4.12.2 ; python_version >= "3.13"
unique-log-filter==0.1.0 ; python_version >= "3.13"
z3-solver==4.13.0.0 ; python_version >= "3.13"
